.headingXL{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.5rem;
  line-height: 1.25;
}
.headingL{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 1.3;
}
.headingM{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.25;
}
.headingS{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
}

.bodyM{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.12rem;
  line-height: 1.55;
  font-weight: 500;
}
.bodyM-bold{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.33;
}
.bodyS{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
}


@media (max-width:1200px){
  .headingXL{
    
    font-size: 2.5rem;
    line-height: 1.26;
  }
  .bodyM{
  font-size: 1rem;
  line-height: 1.6;
  }
}